#bloc-form {
  box-sizing: border-box;
  width: 100%;
  height: 105vh;
  background-color: $c-darkgray;
  padding: 120px 0;
  h2 {
    color: $c-rose-pale;
    font-size: 40px;
    text-align: center;
  }
}
#bloc-contact {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  color: $c-rose-pale;
  div {
    margin: 5px;
  }
  label {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
  }
  input, textarea, button {
    color: $c-rose-pale;
    box-sizing: border-box;
    background-color: $c-darkgray;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-bottom: solid 3px $c-rose-pale;
    width: 100%;
    &:focus {
      border-bottom: solid 3px $c-vert;
      outline: none;
    }
  }
  button {
    width: 100%;
    background-color: $c-darkgray;
    color: $c-rose-pale;
    border: solid 2px $c-rose-pale;
    border-radius: 3px;
    &:hover {
      background-color: #3f4850;;
    }
  }
}
#msg{
  resize: vertical;
}
@media (max-width: 550px) {
  #bloc-form {
    height: auto;
    padding: 50px 0;
  }
  #bloc-contact {
    width: 90%;
  }
}