#cv {
  box-sizing: border-box;
  background-color: $c-jaune;
  padding: 100px 0;
  height: 600px;
  height: 100vh;
}
#bloc-cv {
  width: 80%;
  margin: 0 auto;
  .languages {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    .bout-lang {
      margin: 20px;
      font-family: "Roboto Slab", serif;
      font-size: 14px;
      text-align: center;
    }
  }
}
.download-butt {
  margin-right: 20px;
  position: relative;
  padding: 20px;
  border: 3px solid $c-bleu;
  border-radius: 35px;
  background-position: 50px 50px;
  z-index: 2;
  &:after {
    //moving background
    content: " ";
    display: inline-block;
    background-color: $c-rose-pale;
    border-radius: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 62px;
    z-index: -1;
    transition: 0.5s ease;
  }
  &:hover:after {
    top: -15px;
    left: 15px;
  }
}
#downloadCV {
  &:after {
    width: 180px;
  }
}

#downloadAnimatedCV {
  &:after {
    width: 112px;
  }
}

.cercle-rot {
  position: relative;
  top: -38px;
  width: 50px;
  height: 50px;
  border: 3px solid $c-darkgray;
  border-radius: 50%;
  &:hover {
    border-top-color: $c-rose-pale;
    animation: spin 0.6s linear infinite;
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
#bloc-fond-txt-cv {
  margin: 50px auto 0 auto;
  width: 350px;
  height: 180px;
  padding: 60px 50px;
  background-image: url(../img/bloc-txt.png);
  background-size: contain;
  background-repeat: no-repeat;
}

//media 550px
@media (max-width: 550px) {
  #cv {
    padding: 20px 0;
  }
  #bloc-fond-txt-cv {
    background-image: none;
    background-color: $c-rose-pale;
    padding: 10px 10px;
    margin: 5px auto 0 auto;
    width: auto;
  }
  #bloc-cv {
    a {
      margin: 10px 0;
      display: inline-block;
    }
    .languages {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;

      .bout-lang {
        margin: 5px;
      }
    }
  }
}