//scrollbar
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $c-rose;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: 3px solid $c-bleu;
  border-radius: 8px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $c-bleu;
}

//general
body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 55px;
  color: $c-bleu;
  margin: 0;
}
h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  color: $c-darkgray;
  margin: 0;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
  color: $c-darkgray;
}
p,
ul,
li,
a,
h6 {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 2.33em;
  font-weight: normal;
}
a {
  color: black;
  text-decoration: none;
}
.clearfix {
  clear: both;
}
ul {
  padding-inline-start: 10px;
}
//header

header {
  background-color: $c-rose-pale;
  margin: auto;
  padding: 100px 0;
}

#header-left {
  float: left;
  margin-left: 100px;
}

#photo-syriane-bonjean {
  width: 60%;
  clear: left;
  display: block;
  margin: 30px auto;
}

.testBtn{
  background-color: $c-vert;
  padding: 6px;
  margin: 4px 0;
}
.gitLink {
  display: flex;
  align-items: center;
  background-color: $c-bleu;
  padding: 6px;
  margin: 4px 0;
  &:before {
    content: "";
    background-image: url("../img/gitlabPicto.png");
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    background-size: cover;
  }
}
//media 800px
@media (max-width: 800px) {
  h1 {
    font-size: 35px;
    h2 {
      font-size: 20px;
    }
  }
}
.hide{
  display: none;
}