//Desktop
#bloc-mini-prj {
  width: 100%;
  overflow: hidden;
}
#mini-prj-container {
  box-sizing: border-box;
  width: 300%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, rgba(242,226,214,1) 0%, rgba(242,226,214,1) 9%, rgba(255,217,189,1) 53%, rgba(248,240,234,1) 92%, rgba(248,240,234,1) 100%);

  h2 {
    // transform: rotate(-90deg);
    text-align: center;
    color: $c-darkgray;
  }
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
#emptyscroll {
  height: 300vh;
  background-color: white;
}

//card and hover
.card {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  &:hover .infoMiniPrj {
    opacity: 1;
  }
  &:hover img {
    filter: blur(5px);
    transform: scale(1.2);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
}
.infoMiniPrj {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  //position on the card
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
//mobile and tablettes
#bloc-mini-prj.mobile{
  overflow: auto;
  #mini-prj-container {
    padding: 30px 5px;
    width: 100%;
    height: auto;
    flex-flow: column;
    h2 {
      margin: 20px 0;
    }
    .infoMiniPrj{
      position: relative;
      opacity: 1;
    }
  }
}