//menu de navigation
.nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 4;
  ul {
    border-top: solid 2px $c-darkgray;
    padding-top: 5px;
    .currentNav {
      background-color: $c-rose;
      padding: 10px 10px;
      border-radius: 25px;
    }
  }
  li {
    padding: 10px 10px;
    margin: auto;
    list-style-type: none;
    transition: 0.5s ease;
    display: inline-block;
  }
}
// to top button
#toTopButton {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: $c-rose;
  padding: 10px 10px;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
    img {
      width: 30px;
      height: 30px;
    }
}
