#sect-portfolio {
  background-color: $c-vert;
  box-sizing: border-box;
  padding-bottom: 50px;

}
.prj {
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  .img-prj {
    width: 45%;
    height: auto;
    position: absolute;
    top: 15vh;
    left: 15vw;
    img {
      height: auto;
      max-width: 100%;
      animation: infinite-spinning infinite 10s;
    }
  }
  .txt-prj {
    background-color: rgba(255, 255, 255,0.8);
    padding: 30px 30px 30px 50px;
    position: absolute;
    top: 40vh;
    left: 30vw;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.tab_info-prj {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-bottom: 20px;
  tr:first-child {
    border-bottom: solid 1px black;
  }
  td{
    font-family: "Roboto Slab", serif;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    border-left: solid 1px black;
    border-right: solid 1px black;
  }
  tbody tr td:first-child,
  tbody tr th:first-child {
    border-left: 0;
  }
  tbody tr td:last-child,
  tbody tr th:last-child {
    border-right: 0;
  }
}

@keyframes infinite-spinning {
  0%, 100% {
    transform: translate3d(0px, 0px, 0px);
  }
  25%, 75% {
    transform: translate3d(5px, -5px, 5px);
  }
  50% {
    transform: translate3d(-5px, 15px, 10px);
  }
}
@media (max-width: 550px) {
  #sect-portfolio {
    margin-top: -20px;
    height: auto;
  }
  .prj {
    margin-top: 20px;
    height: auto;
    .img-prj {
      position: relative;
      margin-top: 20px;
      width: 100%;
      top: 5vh;
      left: 0;
      img {
        animation: none;
      }
    }
    .txt-prj {
      margin-top: 20px;
      position: relative;
      padding: 10px 10px 10px 10px;
      top: 5vh;
      left: 0;
      width: auto;
    }
  }
}